{% extends 'users/base.html' %} {% block body %}
{%comment%}importingnavbar{%endcomment %} {% include 'users/navbar.html' %}
<div
  class="container text-center m-2 d-flex justify-content-center flex-column"
>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
      <label for="">Lead Name:{{ lead }} </label>
    </p>
    <p>
      <label for="">Lead Details : {{ form.task_details}}</label>
    </p>
    <p>
      <label for="">Managed by : {{ form.managed_by}}</label>
    </p>
    <p>
      <label for="">Created by : {{ form.created_by}}</label>
    </p>
    <p>
      <label for="">Lead Date : {{ form.managed_date}}</label>
    </p>
    <button type="submit" class="btn btn-primary">Create Task</button>
  </form>
</div>
{% endblock body %}
