{% extends 'users/base.html' %}
{% block body %}
{% comment %} importing navbar {% endcomment %}
{% include 'users/navbar.html' %}
{% include 'users/sidebar.html' %}

<div class="container">
  {% include 'sales/createTask.html' %}
  {% comment %} {{ form }} {% endcomment %}
    <h2>Task Here</h2><hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class='bg-secondary text-light'>Task No</th>
                <th scope="col" class='bg-secondary text-light'>Lead Company</th>
                <th scope="col" class='bg-secondary text-light'>What to do</th>
                <th scope="col" class='bg-secondary text-light'>Created By</th>
                <th scope="col" class='bg-secondary text-light'>Managed By</th>
                <th scope="col" class='bg-secondary text-light'>Created Date</th>
            </tr>
        </thead>
        <tbody class='sortable'>
            {% for task in tasks %}
          <tr class=' border'>
            <th scope="row" class='bg-dark text-light'>{{ task.id }}</th>
            <td class='bg-dark text-light'>{{ task.lead_name }}</td>
            <td class='bg-dark text-light'>{{ task.task_details}}</td>
            <td class='bg-dark text-light'>{{ task.created_by}}</td>
            <td class='bg-dark text-light'>{{ task.managed_by}}</td>
            <td class='bg-dark text-light'>{{ task.managed_date}}</td>
          </tr>
          {% endfor %}
         
        </tbody>
      </table>

    
</div>
<script>
  console.log("hello world")
  $( function() {
    $( ".sortable" ).sortable();
  } );
</script>
{% endblock body %}
