{% extends 'users/base.html' %}
{% block body %}


<div class="row">
  {% comment %} importing sidebar  {% endcomment %}
    {% include 'users/sidebar.html' %}
    
    {% comment %} main dashboard {% endcomment %}
          <div class="col">
              <div class="leads">
                  <div class="card text-white bg-secondary m-3" style="max-width: 18rem;">
                      <div class="card-header"><h2>Leads</h2></div>
                      <div class="card-body">
                        <ul>
                          <li>
                        <a href="{% url 'sales:leadform' %}" class=''>Add lead <i class="fa fa-plus"></i>
                        </a>
                      </li>
                      <li>
                        <a href="{% url 'sales:bulkleads' %}" class=''>Bulk Upload</a>
                      </li>
                      <li>
                        <a href="{% url 'sales:viewleads' %}" class=''>View Leads</a>
                      </li>
                      </ul>
                      </div>
                    </div>
                  </div>
          </div>
          <div class="col">
              <div class="contacts">
                  <div class="card text-white bg-secondary m-3" style="max-width: 18rem;">
                      <div class="card-header"><h2>Contacts</h2></div>
                      <div class="card-body">
                        Something here
                      </div>
                    </div>
              </div>
          </div>
          <div class="col">
            <div class="customers">
                  <div class="card text-white bg-secondary m-3" style="max-width: 18rem;">
                      <div class="card-header"><h2>Customers</h2></div>
                      <div class="card-body">
                        <a href="{% url 'sales:viewcustomers' %}" class=''>View Customer</a>
                      </div>
                    </div>
              </div>
            </div>
      </div>
      

</div>
      
    

{% endblock body %}


