{% extends 'users/base.html' %}
{% block body %}
<div class="container d-flex flex-direction-row">
    <div class="leads">
        <div class="card text-white bg-secondary m-3" style="max-width: 18rem;">
            <div class="card-header"><h2>Leads</h2></div>
            <div class="card-body">
              
            </div>
          </div>
    </div>
    <div class="contacts">
        <div class="card text-white bg-secondary m-3" style="max-width: 18rem;">
            <div class="card-header"><h2>Contacts</h2></div>
            <div class="card-body">
              
            </div>
          </div>
    </div>
    <div class="customers">
        <div class="card text-white bg-secondary m-3" style="max-width: 18rem;">
            <div class="card-header">Customers</div>
            <div class="card-body">
              
            </div>
          </div>
    </div>
</div>
{% endblock body %}