{% extends 'users/base.html' %}
{% block body %}
{% comment %} importing navbar {% endcomment %}
{% include 'users/navbar.html' %}
<div class="container d-flex justify-content-center">

  <form  method="post">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header text-center">LOGIN</div>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Enter Login Details</h5>
  
            {% csrf_token %}
            {{form}}
            <button class='btn btn-outline-dark m-2'>Login</button>
          </div>
  </form>
</div>
{% endblock body %}