{% extends 'users/base.html' %} {% block body %} {% comment %} importing navbar
{% endcomment %} {% include 'users/navbar.html' %} 
{% include 'users/sidebar.html' %}

<div class="container d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
        <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{user}}</h3>
          <p class="card-text">Email : {{user.email}}</p>
          <p class="card-text">Phone Number : {{user.phone_number}}</p>
          <p class="card-text">Name : {{user.first_name}} {{user.last_name}}</p>
         
          <a href="{% url 'users:profileForm' %}" class="btn btn-primary">Edit Profile</a>
        </div>
      </div>
</div>
{% comment %} <img src="/pictures/profile_" alt="" /> {% endcomment %}
 {% endblock body %}
