{% extends 'users/base.html' %} {% block body %} {% comment %} importing navbar
{% endcomment %} {% include 'users/navbar.html' %} 
{% include 'users/sidebar.html' %}

<div class="container d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{user}}</h5>
          <p class="card-text">{{user.email}}</p>
          <a href="{% url 'users:profileForm' %}" class="btn btn-primary">Edit Profile</a>
        </div>
      </div>
</div>
{% comment %} <img src="/pictures/profile_" alt="" /> {% endcomment %}
 {% endblock body %}
