{% extends 'users/base.html' %}
{% block body %}
{% comment %} importing navbar {% endcomment %}
{% include 'users/navbar.html' %}
{% csrf_token %}
<div class="container d-flex d-row m-2 justify-content-center">   
    <form action="POST">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Edit Profile</div>
            <div class="card-body text-secondary p-2">
                <label for="username">Username : {{form.username}}</label>
                <label for="username">First Name : {{form.first_name}}</label>
                <label for="username">Last name : {{form.last_name}}</label>
                <label for="username">Phone Number : {{form.phone_number}}</label>
                <label for="username">Image : {{form.profile_image}}</label>
                <label for="username">Birth Date : {{form.birth_date}}</label>
            </div>
            <button class='btn btn-outline-secondary'>Edit</button>
          </div>
    </form>
    </div>
{% endblock body %}